.hero h1 {
    margin-top: 0.2rem;
    color: var(--text-color);
}

.hero [aria-role="doc-subtitle"] {
    font-size: var(--body-font-size-s);
}

.hero p {
    font-weight: bold;
}

.hero p:last-child {
    font-size: var(--body-font-size-xs);
    font-weight: lighter;
}
